@model IEnumerable<CsHealthcare.DataAccess.Dialysis.PatientEnrollDialysis>

<table class="table table-striped table-bordered table-hover" id="OptionList1">
    <thead>
    <tr>
        <th style="width: 8% !important">
            SL
        </th>
        <th style="width: 8% !important">
            Patient Id
        </th>
        <th style="width: 30% !important">
            Patient Name
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 8% !important">
                    @Html.DisplayFor(modelItem => item.SerialNo)
                </td>
                <td style="width: 8% !important">
                    @Html.DisplayFor(modelItem => item.PatientInformation.PatientCode)
                </td>
                <td style="width: 30% !important">
                    @Html.DisplayFor(modelItem => item.PatientInformation.Name)
                </td>

            </tr>
        }
    </tbody>
</table>

<script>
    jQuery(document).ready(function () {

        var table = $('#OptionList1');

        // begin first table
        table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.


            "lengthMenu": [
                [15, 25, 50, -1],
                [15, 25, 50, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 15,
            "pagingType": "bootstrap_full_number",
            "language": {
                "search": "My search: ",
                "lengthMenu": "  _MENU_ records",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "columnDefs": [{  // set default column settings
                'orderable': false,
                'targets': [1]
            }, {
                "searchable": false,
                "targets": [1]
            }],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });

        var tableWrapper = jQuery('#OptionList_wrapper');

        tableWrapper.find('.dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    });
</script>
