
@{
    ViewBag.Title = "Admitted Patient List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class=""></div>
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bullseye font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp uppercase">@ViewBag.Title</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>

                    <a href="javascript:;" data-load="true" data-url="@Url.Action("Report", "PatientAdmission", new {Area = "Cabin"})" class="reload">

                    </a>
                    <a href="javascript:;" class="fullscreen">
                    </a>
                </div>
                <div class="actions margin-right-10">
                    @*<a class="btn btn-circle green-jungle btn-sm" href="@Url.Action("Create", "PatientLaser", new {Area = "PatientInformation"})">
                        <i class="fa fa-plus"></i> New
                    </a>*@
                    @*<a class="btn btn-circle green-jungle btn-sm" href="@SessionManager.DashBoard">
                            <i class="fa fa-chevron-left"></i> Back
                        </a>*@
                </div>
            </div>
            <hr style="margin-top: 0;">
            <div class="portlet-body portlet-empty">


            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class=""></div>
</div>



<div id='myModal' class='modal fade in' tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

