




@{
    ViewBag.Title = "Leave Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bullseye font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp uppercase">@ViewBag.Title</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>

                    <a href="javascript:;" data-load="true" data-url="@Url.Action("List", "LeaveOfAbsenceDetails", new {Area = "LeaveManagement"})" class="reload">

                    </a>
                    <a href="javascript:;" class="fullscreen">
                    </a>
                </div>
                <div class="actions margin-right-10">
                    <a class="btn btn-circle green-jungle btn-sm" href="@Url.Action("Create", "LeaveOfAbsenceDetails", new {Area = "LeaveManagement"})" >
                        <i class="fa fa-plus"></i> New
                    </a>
                    @*<a class="btn btn-circle green-jungle btn-sm" href="@SessionManager.DashBoard">
                            <i class="fa fa-chevron-left"></i> Back
                        </a>*@
                </div>
            </div>
            <hr style="margin-top: 0;">
            <div class="portlet-body portlet-empty">


            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-1"></div>
</div>



<div id='myModal' class='modal fade in' tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


@section page_styles {


    <link href="~/assets/global/plugins/select2/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
@*<link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />*@


}

@section Scripts {



    <script src="~/assets/global/plugins/select2/js/select2.js"></script>
   <script src="~/assets/global/plugins/datatables/plugins/jquery.datatables.min.js"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
@*<script type="text/javascript" src="~/Assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="~/Assets/plugins/typeahead/typeahead.bundle.min.js"></script>*@
@*<script src="~/Assets/Page/components-pickers.js"></script>
    <script src="~/Scripts/jquery.format.1.05.js"></script>*@



    <script>
        jQuery(document).ready(function() {

        });
    </script>


}
















