


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">

                    <span class="caption-subject font-green-sharp bold uppercase">Stool Rountin Examination</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>


                    <a href="javascript:;" class="remove">
                    </a>
                </div>
                <div class="actions margin-right-10">


                </div>
            </div>
            <hr style="margin-top:0;">
            <div class="portlet-body portlet-empty">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Investigation</th>
                            <th> Result</th>
                            @*<th> Unit</th>
                            <th> Refference Range</th>*@
                        </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><b>Physical Examination</b></td>
                        <td></td>
                        @*<td></td>
                        <td></td>*@
                    </tr>
                        <tr>
                            <td>Consistency</td>

                            <td><input /></td>

                            @*<td></td>
                            <td></td>*@
                        </tr>
                        <tr>
                            <td>Colour</td>

                            <td><input /></td>

                            @*<td></td>
                            <td></td>*@
                        </tr>

                        <tr>
                            <td>Mucus</td>

                            <td><input /></td>

                            @*<td></td>
                            <td></td>*@
                        </tr>
                        <tr>
                            <td>Blood</td>

                            <td><input /></td>

                            @*<td></td>
                            <td></td>*@
                        </tr>
                        <tr>
                            <td><b>Chemical Examination</b></td>

                            <td></td>

                            @*<td></td>
                            <td></td>*@
                        </tr>

                        <tr>


                            <td>Reaction</td>

                            <td><input /></td>
                            @*<td></td>
                            <td></td>*@
                        </tr>

                        <tr>


                            <td>Reducing Substance</td>

                            <td><input /></td>
                            @*<td></td>
                            <td></td>*@
                        </tr>

                        <tr>


                            <td>Occult Blood Test</td>

                            <td><input /></td>
                            @*<td></td>
                            <td> </td>*@
                        </tr>

                        <tr>


                            <td>Blood</td>

                            <td><input /></td>
                           @* <td></td>
                       <td> </td>*@
                        </tr>


                        @*<tr>


                            <td>Ketones</td>

                            <td>Absent</td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Nitrite
                            </td>
                            <td>
                                Negative
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Bilirubin
                            </td>
                            <td>Nil</td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>


                            <td>Urobilinogen</td>

                            <td>Nil</td>
                            <td></td>
                            <td> </td>
                        </tr>*@
                    

                        <tr>
                            <td><b>Microscopic Examination</b></td>

                            <td><input /></td>

                            @*<td></td>
                            <td></td>*@
                        </tr>

                        <tr>


                            <td>Plus Cells</td>

                            <td><input /></td>
                            @*<td></td>
                            <td> </td>*@
                        </tr>

                        <tr>


                            <td>Macrophage</td>

                            <td><input /></td>
                            @*<td></td>
                            <td></td>*@
                        </tr>

                        <tr>


                            <td>Red Blood Cells</td>

                            <td><input /></td>
                            @*<td></td>
                            <td> </td>*@
                        </tr>

                        <tr>


                            <td>Vegetable Cells</td>

                            <td><input /></td>
                            @*<td></td>
                            <td> </td>*@
                        </tr>


                    <tr>


                        <td>Starch granuels</td>

                        <td><input/></td>
                        @*<td></td>
                        <td> </td>*@
                    </tr>
                    <tr>


                        <td>Muscle fibres</td>

                        <td><input/></td>
                        @*<td></td>
                        <td> </td>*@
                    </tr>

                        <tr>


                            <td>fat globules</td>

                            <td><input /></td>
                            @*<td></td>
                            <td> </td>*@
                        </tr>
                        <tr>

                    <tr>


                        <td>fat globules</td>

                        <td><input/></td>
                        @*<td></td>
            <td> </td>*@
                    </tr>

                    <tr>


                        <td>Ova</td>

                        <td><input/></td>
                        @*<td></td>
            <td> </td>*@
                    </tr>

                    <tr>


                        <td>Ova</td>

                        <td><input/></td>
                        @*<td></td>
            <td> </td>*@
                    </tr>
                        <tr>


                            <td>protozoa</td>

                            <td><input /></td>
                            @*<td></td>
            <td> </td>*@
                        </tr>
                        
                        <tr>


                            <td>Cysts</td>

                            <td><input /></td>
                            @*<td></td>
            <td> </td>*@
                        </tr>
                         <tr>
                            <td>
                                Others
                            </td>
                            <td>
                                <input />
                            </td>
                            @*<td></td>
            <td></td>*@
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>

</div>

<div id='myModal' class='modal fade in' tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section page_styles {


    <link href="~/assets/global/plugins/select2/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />


}

@section Scripts {

    <script src="~/assets/global/plugins/select2/js/select2.js"></script>
    <script src="~/assets/global/plugins/datatables/plugins/jquery.datatables.min.js"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>


}







