@model IEnumerable<CsHealthcare.ViewModel.MedicineCorner.DrugSaleDetailsModel>


@foreach (var item in Model) {
    <tr>
        <td>
            @item.CreatedDate.Value.ToString("d")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
       
    </tr>
}

