@using Cs.Utility

@{
    ViewBag.Title = "Search Prescription";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-md-12">

        <div class="page-content" style="min-height:247px">
            <div class="container-fluid">

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-social-dribbble font-green-sharp"></i>
                            <span class="caption-subject uppercase font-green-sharp">@ViewBag.Title</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="javascript:;" class="fullscreen">
                            </a>
                        </div>
                        <div class="actions margin-right-10">
                            <a class="btn btn-circle green-jungle" href="@SessionManager.DashBoard">
                                <i class="fa fa-arrow-left"></i>Back
                            </a>
                        </div>
                    </div>
                    <hr style="margin-top: 0;" />
                    <div class="portlet-body">
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">

                                    <div class="control-label col-md-1">Search Type</div>
                                    <div class="col-md-2">
                                        <select id="ddlSearchType" class="form-control">
                                            <option>Id</option>
                                            <option>Name</option>
                                            <option>Mobile No</option>
                                        </select>
                                    </div>

                                    <div class="control-label col-md-2">Search String</div>
                                    <div class="col-md-5">
                                        <input id="txtSearchString" required="required" name="txtSearchString" value="" class="form-control" placeholder="Search string" type="text" />
                                    </div>

                                    <div class="actions margin-right-10">
                                        <a class="btn btn-circle green-jungle" onclick="javascript: SearchPrescription(); ">
                                            <i class="fa fa-search"></i> Search
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-bell font-green-sharp"></i>
                            <span class="caption-subject uppercase font-green-sharp">Prescription List</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>

                            <a href="javascript:;" class="fullscreen">
                            </a>
                        </div>
                    </div>
                    <hr style="margin-top:0;">
                    <div class="portlet-body portlet-empty" id="loadData">


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


@section page_styles {
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <script>

        jQuery(document).ready(function () {

        });

        function SearchPrescription() {
            var el = $("#loadData");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("SearchResult", "Prescription", new { Area = "PatientManagement" }))",
                data: { "SearchType": $('#ddlSearchType').val(), "SearchString": $('#txtSearchString').val() },
                dataType: "html",
                success: function (res) {
                    el.html(res);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    App.unblockUI();
                    alert(msg);
                }
            });
        }

    </script>

}