
@model IEnumerable<CsHealthcare.ViewModel.Store.StoreRequisitionDetailsModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreItemName) 
        </td>
        
        <td style="width: 10% !important">
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>


        @*<td style="width: 15% !important">
                <a class="btn btn-primary btn-icon legitRipple" title="Edit" onclick="javascript: EditTest('@item.DrugId');"><i class="icon-pencil"></i></a>
            </td>*@
    </tr>
}

